p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

article {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

body {
    margin: 8px;
    display: block;
    background-color: navy;
}

.funParagraph {
    color: green;
}

#mainHeading {
    color: red;
}